.intro{
   
   background-image: url(../img/dtd.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   padding-top: 60px;
   padding-bottom: 60px;
   
}
.introucao{
   background: linear-gradient(225deg, rgba(255,0,255,0.8) 0%, rgba(255,255,255,0.8) 25%, rgba(211,130,255,0.8) 50%, rgba(255,255,255,0.8) 75%, rgba(255,0,255,0.8) 100%); /* w3c */
   min-height: 100VH;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
